configuration {
    modi:                "drun,run";
    show-icons:          true;
    icon-theme:          "Papirus-Dark";
    drun-display-format: "{name}";
    display-drun:        "✦";
    display-run:         "✦";
    terminal:            "kitty";
}

@theme "~/.config/rofi/themes/ellie"
