**/__pycache__

# sensitive
**/*.env
configs/remote/hosts.toml
configs/halloy/soju-password

# build files
configs/tmux/plugins/
fairydust/

# agent slop
configs/ai/skills/synced
configs/ai/skills/.system
