**/__pycache__

# sensitive
**/*.env
configs/remote/hosts.toml
configs/halloy/soju-password

# build files
configs/tmux/plugins/
fairydust/

# agent slop
configs/ai/skills/synced
configs/ai/skills/.system

# pi
pi/services/io/build/
pi/services/io/web/node_modules/
pi/services/io/web/.astro/
pi/services/io/server/dist/*
!pi/services/io/server/dist/.gitkeep
pi/services/io/share-web/node_modules/
pi/services/io/share-web/.astro/
pi/services/io/share-server/dist/*
!pi/services/io/share-server/dist/.gitkeep
pi/services/io/dash-web/node_modules/
pi/services/io/dash-web/.astro/
pi/services/io/dash-server/dist/*
!pi/services/io/dash-server/dist/.gitkeep
