polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.timedate1.set-timezone" &&
        subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
