layout {
    tab name="simulation" cwd="/home/elara/trickfire/gazebo-simulations" {
        pane
    }
    tab name="dashboard" cwd="/home/elara/trickfire/dashboard" {
        pane
    }
    tab name="motors" cwd="/home/elara/trickfire/ak-series-lib" {
        pane
    }
    tab name="docs" cwd="/home/elara/trickfire/TrickfireRobotics.github.io" {
        pane
    }
    tab name="drone" cwd="/home/elara/trickfire" {
        pane
    }
}
