[Unit]
Description=animal crossing style typing blips

[Service]
ExecStart=%h/dotfiles/scripts/animalese-type.py
Restart=on-failure

[Install]
WantedBy=default.target
